.emailList {
  flex: 1;
  overflow: scroll;
}

/* hide scrollbar for chrome */
.emailList::-webkit-scrollbar {
  display: none;
}

/* hide for other browsers */
.emailList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.emailList-settings {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
  border-bottom: 1px solid whitesmoke;
  padding-right: 10px;
  padding-left: 10px;
}

.emailList-sections {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  background: white;
}

.emailList-list {
  padding-bottom: 20%;
}
